* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(36, 216, 36, 0.555);
}

.contain {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 3em;
    height: 600px;
    overflow-y: auto;
}

.impegno {
    display: flex;
}


header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: lawngreen;
}

#data {
    color: lightgray;
}

.add-impegni {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 2em 0;
}

.add-impegni:focus-within {
    border-color: lawngreen;
}

#aggiungi {
    width: 98%;
}

.add-impegni input {
    border-style: none;
    outline: none;
}


li {
    margin-top: 1em;
    background: rgb(252,80,1);
    background: linear-gradient(90deg, rgba(252,80,1,0.8018557764902836) 0%, rgba(0,212,255,0.49933476808692223) 87%);
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
}

.fa-times-circle {
    font-size: 2em;
}

.text > h3 {
    text-decoration: line-through;
}
